.MMM-BellefonteSchoolDay td {
	text-align: left;
	font-size: 0.8em;
	line-height: 1em;
}

.MMM-BellefonteSchoolDay th {
	text-align: left;
	font-size: 0.9em;
	line-height: 1em;
}
.bday-image {
   width: 50px
}
